<a href="https://colab.research.google.com/github/scbigler/deep-learning-challenge/blob/main/AlphabetSoupCharity_Optimization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [19]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("sample_data/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

# New Section

In [20]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis='columns')
application_df.columns

Index(['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'STATUS', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS',
       'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

In [21]:
application_df.shape

(34299, 10)

In [22]:
application_df.isnull().sum()

APPLICATION_TYPE          0
AFFILIATION               0
CLASSIFICATION            0
USE_CASE                  0
ORGANIZATION              0
STATUS                    0
INCOME_AMT                0
SPECIAL_CONSIDERATIONS    0
ASK_AMT                   0
IS_SUCCESSFUL             0
dtype: int64

In [23]:
# Determine the number of unique values in each column.
print(application_df.nunique())

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [24]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [25]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
application_types_to_replace = ['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17', 'T10']
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
Other      804
T8         737
T7         725
Name: APPLICATION_TYPE, dtype: int64

In [26]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
countsbinning = application_df['CLASSIFICATION'].value_counts()
countsbinning

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [27]:
# You may find it helpful to look at CLASSIFICATION value counts >1
countsclassification = countsbinning[countsbinning>10]
countsclassification

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
Name: CLASSIFICATION, dtype: int64

In [28]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list (countsbinning[countsbinning<100].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [29]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [36]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
y

# Take out IS_SUCCESSFUL
X = application_df.drop('IS_SUCCESSFUL', axis=1).values
X

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 42)

In [37]:
# Create a StandardScaler instances

scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [51]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
number_input_features = len( X_train_scaled[0])
hidden_nodes_layer1=7
hidden_nodes_layer2=14
hidden_nodes_layer3=21

nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='selu'))
# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='selu'))
# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))
# Check the structure of the model
nn.summary()

Model: "sequential_8"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_22 (Dense)            (None, 7)                 343

 dense_23 (Dense)            (None, 14)                112

 dense_24 (Dense)            (None, 1)                 15

=================================================================
Total params: 470
Trainable params: 470
Non-trainable params: 0
_________________________________________________________________

In [52]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [53]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15, epochs=75)

Epoch 1/75
684/684 [==============================] - 2s 3ms/step - loss: 0.6097 - accuracy: 0.7003 - val_loss: 0.5631 - val_accuracy: 0.7383
Epoch 2/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5752 - accuracy: 0.7201 - val_loss: 0.5590 - val_accuracy: 0.7375
Epoch 3/75
684/684 [==============================] - 2s 4ms/step - loss: 0.5700 - accuracy: 0.7225 - val_loss: 0.5550 - val_accuracy: 0.7385
Epoch 4/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5662 - accuracy: 0.7227 - val_loss: 0.5520 - val_accuracy: 0.7367
Epoch 5/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5629 - accuracy: 0.7257 - val_loss: 0.5497 - val_accuracy: 0.7401
Epoch 6/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5606 - accuracy: 0.7255 - val_loss: 0.5463 - val_accuracy: 0.7383
Epoch 7/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5590 - accuracy: 0.7260 - val_loss: 0.5478 - val_accuracy: 0.7372
Epoch 8/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5575 - accuracy: 0.7268 - val_loss: 0.5471 - val_accuracy: 0.7334
Epoch 9/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5564 - accuracy: 0.7267 - val_loss: 0.5465 - val_accuracy: 0.7352
Epoch 10/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5555 - accuracy: 0.7265 - val_loss: 0.5444 - val_accuracy: 0.7375
Epoch 11/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5547 - accuracy: 0.7260 - val_loss: 0.5466 - val_accuracy: 0.7378
Epoch 12/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5542 - accuracy: 0.7264 - val_loss: 0.5456 - val_accuracy: 0.7380
Epoch 13/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5533 - accuracy: 0.7276 - val_loss: 0.5452 - val_accuracy: 0.7354
Epoch 14/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5534 - accuracy: 0.7268 - val_loss: 0.5441 - val_accuracy: 0.7370
Epoch 15/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5531 - accuracy: 0.7258 - val_loss: 0.5434 - val_accuracy: 0.7378
Epoch 16/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5522 - accuracy: 0.7266 - val_loss: 0.5486 - val_accuracy: 0.7365
Epoch 17/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5521 - accuracy: 0.7260 - val_loss: 0.5456 - val_accuracy: 0.7378
Epoch 18/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5518 - accuracy: 0.7250 - val_loss: 0.5437 - val_accuracy: 0.7326
Epoch 19/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5517 - accuracy: 0.7256 - val_loss: 0.5456 - val_accuracy: 0.7308
Epoch 20/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5512 - accuracy: 0.7277 - val_loss: 0.5452 - val_accuracy: 0.7365
Epoch 21/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5511 - accuracy: 0.7257 - val_loss: 0.5447 - val_accuracy: 0.7352
Epoch 22/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5505 - accuracy: 0.7271 - val_loss: 0.5440 - val_accuracy: 0.7372
Epoch 23/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5503 - accuracy: 0.7280 - val_loss: 0.5456 - val_accuracy: 0.7383
Epoch 24/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5500 - accuracy: 0.7259 - val_loss: 0.5451 - val_accuracy: 0.7344
Epoch 25/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5499 - accuracy: 0.7268 - val_loss: 0.5458 - val_accuracy: 0.7354
Epoch 26/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5499 - accuracy: 0.7265 - val_loss: 0.5445 - val_accuracy: 0.7331
Epoch 27/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5497 - accuracy: 0.7265 - val_loss: 0.5459 - val_accuracy: 0.7341
Epoch 28/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5495 - accuracy: 0.7265 - val_loss: 0.5450 - val_accuracy: 0.7326
Epoch 29/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5496 - accuracy: 0.7277 - val_loss: 0.5440 - val_accuracy: 0.7344
Epoch 30/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5492 - accuracy: 0.7273 - val_loss: 0.5427 - val_accuracy: 0.7321
Epoch 31/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5489 - accuracy: 0.7275 - val_loss: 0.5445 - val_accuracy: 0.7336
Epoch 32/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5488 - accuracy: 0.7295 - val_loss: 0.5438 - val_accuracy: 0.7339
Epoch 33/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5485 - accuracy: 0.7289 - val_loss: 0.5441 - val_accuracy: 0.7352
Epoch 34/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5488 - accuracy: 0.7308 - val_loss: 0.5439 - val_accuracy: 0.7341
Epoch 35/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5489 - accuracy: 0.7268 - val_loss: 0.5451 - val_accuracy: 0.7372
Epoch 36/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5486 - accuracy: 0.7275 - val_loss: 0.5435 - val_accuracy: 0.7370
Epoch 37/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5484 - accuracy: 0.7294 - val_loss: 0.5432 - val_accuracy: 0.7339
Epoch 38/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5481 - accuracy: 0.7286 - val_loss: 0.5428 - val_accuracy: 0.7367
Epoch 39/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5479 - accuracy: 0.7293 - val_loss: 0.5430 - val_accuracy: 0.7315
Epoch 40/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5477 - accuracy: 0.7292 - val_loss: 0.5453 - val_accuracy: 0.7318
Epoch 41/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5483 - accuracy: 0.7296 - val_loss: 0.5433 - val_accuracy: 0.7321
Epoch 42/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5478 - accuracy: 0.7284 - val_loss: 0.5444 - val_accuracy: 0.7375
Epoch 43/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5478 - accuracy: 0.7292 - val_loss: 0.5447 - val_accuracy: 0.7352
Epoch 44/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5479 - accuracy: 0.7293 - val_loss: 0.5441 - val_accuracy: 0.7372
Epoch 45/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5475 - accuracy: 0.7294 - val_loss: 0.5489 - val_accuracy: 0.7331
Epoch 46/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5475 - accuracy: 0.7299 - val_loss: 0.5455 - val_accuracy: 0.7326
Epoch 47/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5477 - accuracy: 0.7280 - val_loss: 0.5460 - val_accuracy: 0.7339
Epoch 48/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5475 - accuracy: 0.7288 - val_loss: 0.5425 - val_accuracy: 0.7359
Epoch 49/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5468 - accuracy: 0.7301 - val_loss: 0.5449 - val_accuracy: 0.7359
Epoch 50/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5472 - accuracy: 0.7299 - val_loss: 0.5442 - val_accuracy: 0.7339
Epoch 51/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5473 - accuracy: 0.7290 - val_loss: 0.5438 - val_accuracy: 0.7346
Epoch 52/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5470 - accuracy: 0.7306 - val_loss: 0.5436 - val_accuracy: 0.7346
Epoch 53/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5470 - accuracy: 0.7293 - val_loss: 0.5434 - val_accuracy: 0.7385
Epoch 54/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5469 - accuracy: 0.7313 - val_loss: 0.5448 - val_accuracy: 0.7313
Epoch 55/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5466 - accuracy: 0.7298 - val_loss: 0.5446 - val_accuracy: 0.7367
Epoch 56/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5468 - accuracy: 0.7298 - val_loss: 0.5446 - val_accuracy: 0.7385
Epoch 57/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5469 - accuracy: 0.7305 - val_loss: 0.5429 - val_accuracy: 0.7370
Epoch 58/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5468 - accuracy: 0.7299 - val_loss: 0.5435 - val_accuracy: 0.7388
Epoch 59/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5464 - accuracy: 0.7306 - val_loss: 0.5434 - val_accuracy: 0.7365
Epoch 60/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5463 - accuracy: 0.7295 - val_loss: 0.5460 - val_accuracy: 0.7362
Epoch 61/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5463 - accuracy: 0.7294 - val_loss: 0.5431 - val_accuracy: 0.7362
Epoch 62/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5462 - accuracy: 0.7304 - val_loss: 0.5435 - val_accuracy: 0.7367
Epoch 63/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5464 - accuracy: 0.7304 - val_loss: 0.5456 - val_accuracy: 0.7362
Epoch 64/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5461 - accuracy: 0.7310 - val_loss: 0.5453 - val_accuracy: 0.7349
Epoch 65/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5460 - accuracy: 0.7314 - val_loss: 0.5444 - val_accuracy: 0.7370
Epoch 66/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5458 - accuracy: 0.7305 - val_loss: 0.5456 - val_accuracy: 0.7326
Epoch 67/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5461 - accuracy: 0.7301 - val_loss: 0.5434 - val_accuracy: 0.7367
Epoch 68/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5458 - accuracy: 0.7299 - val_loss: 0.5436 - val_accuracy: 0.7354
Epoch 69/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5459 - accuracy: 0.7300 - val_loss: 0.5453 - val_accuracy: 0.7344
Epoch 70/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5459 - accuracy: 0.7308 - val_loss: 0.5437 - val_accuracy: 0.7365
Epoch 71/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5455 - accuracy: 0.7302 - val_loss: 0.5423 - val_accuracy: 0.7375
Epoch 72/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5460 - accuracy: 0.7318 - val_loss: 0.5438 - val_accuracy: 0.7334
Epoch 73/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5458 - accuracy: 0.7318 - val_loss: 0.5425 - val_accuracy: 0.7367
Epoch 74/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5456 - accuracy: 0.7315 - val_loss: 0.5452 - val_accuracy: 0.7341
Epoch 75/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5453 - accuracy: 0.7314 - val_loss: 0.5451 - val_accuracy: 0.7346

In [54]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5517 - accuracy: 0.7305 - 457ms/epoch - 2ms/step
Loss: 0.5516508221626282, Accuracy: 0.7304956316947937

In [56]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
from google.colab import files

nn.save('/content/AlphabetSoupCharity_Optimization.h5')
files.download('/content/AlphabetSoupCharity_Optimization.h5')