<a href="https://colab.research.google.com/github/scbigler/deep-learning-challenge/blob/main/AlphabetSoupCharity_Optimization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("sample_data/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

# New Section

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis='columns')
application_df.columns

Index(['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'STATUS', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS',
       'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

In [4]:
application_df.shape

(34299, 10)

In [5]:
application_df.isnull().sum()

APPLICATION_TYPE          0
AFFILIATION               0
CLASSIFICATION            0
USE_CASE                  0
ORGANIZATION              0
STATUS                    0
INCOME_AMT                0
SPECIAL_CONSIDERATIONS    0
ASK_AMT                   0
IS_SUCCESSFUL             0
dtype: int64

In [6]:
# Determine the number of unique values in each column.
print(application_df.nunique())

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [7]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
application_types_to_replace = ['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [9]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
countsbinning = application_df['CLASSIFICATION'].value_counts()
countsbinning

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [10]:
# You may find it helpful to look at CLASSIFICATION value counts >1
countsclassification = countsbinning[countsbinning>1]
countsclassification

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [11]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list (countsbinning[countsbinning<200].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1197
C7000      777
C1700      287
Name: CLASSIFICATION, dtype: int64

In [12]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [13]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
y

# Take out IS_SUCCESSFUL
X = application_df.drop('IS_SUCCESSFUL', axis=1).values
X

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 42)

In [15]:
# Create a StandardScaler instances

scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [17]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
number_input_features = len( X_train_scaled[0])
hidden_nodes_layer1=7
hidden_nodes_layer2=14
hidden_nodes_layer3=21

nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))
# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))
# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))
# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 7)                 322

 dense_1 (Dense)             (None, 14)                112

 dense_2 (Dense)             (None, 1)                 15

=================================================================
Total params: 449
Trainable params: 449
Non-trainable params: 0
_________________________________________________________________

In [18]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [19]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15, epochs=100)

Epoch 1/100
684/684 [==============================] - 5s 3ms/step - loss: 0.6307 - accuracy: 0.6517 - val_loss: 0.5672 - val_accuracy: 0.7235
Epoch 2/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5706 - accuracy: 0.7217 - val_loss: 0.5549 - val_accuracy: 0.7349
Epoch 3/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5618 - accuracy: 0.7239 - val_loss: 0.5511 - val_accuracy: 0.7344
Epoch 4/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5584 - accuracy: 0.7259 - val_loss: 0.5487 - val_accuracy: 0.7362
Epoch 5/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5565 - accuracy: 0.7258 - val_loss: 0.5492 - val_accuracy: 0.7352
Epoch 6/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5553 - accuracy: 0.7266 - val_loss: 0.5475 - val_accuracy: 0.7357
Epoch 7/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5537 - accuracy: 0.7270 - val_loss: 0.5495 - val_accuracy: 0.7349
Epoch 8/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5532 - accuracy: 0.7290 - val_loss: 0.5470 - val_accuracy: 0.7357
Epoch 9/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5523 - accuracy: 0.7298 - val_loss: 0.5465 - val_accuracy: 0.7349
Epoch 10/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5518 - accuracy: 0.7299 - val_loss: 0.5477 - val_accuracy: 0.7352
Epoch 11/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5514 - accuracy: 0.7287 - val_loss: 0.5450 - val_accuracy: 0.7354
Epoch 12/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5510 - accuracy: 0.7301 - val_loss: 0.5468 - val_accuracy: 0.7336
Epoch 13/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5504 - accuracy: 0.7305 - val_loss: 0.5454 - val_accuracy: 0.7346
Epoch 14/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5504 - accuracy: 0.7296 - val_loss: 0.5461 - val_accuracy: 0.7359
Epoch 15/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5497 - accuracy: 0.7298 - val_loss: 0.5438 - val_accuracy: 0.7346
Epoch 16/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5498 - accuracy: 0.7306 - val_loss: 0.5442 - val_accuracy: 0.7344
Epoch 17/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5495 - accuracy: 0.7296 - val_loss: 0.5453 - val_accuracy: 0.7357
Epoch 18/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5493 - accuracy: 0.7299 - val_loss: 0.5466 - val_accuracy: 0.7339
Epoch 19/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5493 - accuracy: 0.7304 - val_loss: 0.5445 - val_accuracy: 0.7354
Epoch 20/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5492 - accuracy: 0.7305 - val_loss: 0.5438 - val_accuracy: 0.7349
Epoch 21/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5488 - accuracy: 0.7308 - val_loss: 0.5445 - val_accuracy: 0.7362
Epoch 22/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5486 - accuracy: 0.7306 - val_loss: 0.5457 - val_accuracy: 0.7362
Epoch 23/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5485 - accuracy: 0.7312 - val_loss: 0.5446 - val_accuracy: 0.7357
Epoch 24/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5486 - accuracy: 0.7312 - val_loss: 0.5438 - val_accuracy: 0.7344
Epoch 25/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5481 - accuracy: 0.7305 - val_loss: 0.5438 - val_accuracy: 0.7349
Epoch 26/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5477 - accuracy: 0.7305 - val_loss: 0.5455 - val_accuracy: 0.7334
Epoch 27/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5475 - accuracy: 0.7319 - val_loss: 0.5449 - val_accuracy: 0.7359
Epoch 28/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5478 - accuracy: 0.7314 - val_loss: 0.5439 - val_accuracy: 0.7349
Epoch 29/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5474 - accuracy: 0.7322 - val_loss: 0.5446 - val_accuracy: 0.7331
Epoch 30/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5471 - accuracy: 0.7316 - val_loss: 0.5456 - val_accuracy: 0.7354
Epoch 31/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5472 - accuracy: 0.7309 - val_loss: 0.5451 - val_accuracy: 0.7328
Epoch 32/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5470 - accuracy: 0.7319 - val_loss: 0.5447 - val_accuracy: 0.7362
Epoch 33/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5466 - accuracy: 0.7320 - val_loss: 0.5440 - val_accuracy: 0.7352
Epoch 34/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5467 - accuracy: 0.7316 - val_loss: 0.5433 - val_accuracy: 0.7346
Epoch 35/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5462 - accuracy: 0.7323 - val_loss: 0.5456 - val_accuracy: 0.7357
Epoch 36/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5463 - accuracy: 0.7317 - val_loss: 0.5451 - val_accuracy: 0.7341
Epoch 37/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5463 - accuracy: 0.7324 - val_loss: 0.5437 - val_accuracy: 0.7334
Epoch 38/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5463 - accuracy: 0.7326 - val_loss: 0.5443 - val_accuracy: 0.7357
Epoch 39/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5466 - accuracy: 0.7320 - val_loss: 0.5437 - val_accuracy: 0.7334
Epoch 40/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5463 - accuracy: 0.7314 - val_loss: 0.5431 - val_accuracy: 0.7367
Epoch 41/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5461 - accuracy: 0.7318 - val_loss: 0.5441 - val_accuracy: 0.7334
Epoch 42/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5458 - accuracy: 0.7323 - val_loss: 0.5446 - val_accuracy: 0.7341
Epoch 43/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5460 - accuracy: 0.7328 - val_loss: 0.5444 - val_accuracy: 0.7336
Epoch 44/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5457 - accuracy: 0.7329 - val_loss: 0.5436 - val_accuracy: 0.7346
Epoch 45/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5459 - accuracy: 0.7335 - val_loss: 0.5438 - val_accuracy: 0.7326
Epoch 46/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5462 - accuracy: 0.7330 - val_loss: 0.5433 - val_accuracy: 0.7341
Epoch 47/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5457 - accuracy: 0.7333 - val_loss: 0.5434 - val_accuracy: 0.7352
Epoch 48/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5459 - accuracy: 0.7327 - val_loss: 0.5446 - val_accuracy: 0.7365
Epoch 49/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5455 - accuracy: 0.7331 - val_loss: 0.5433 - val_accuracy: 0.7365
Epoch 50/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5459 - accuracy: 0.7324 - val_loss: 0.5430 - val_accuracy: 0.7346
Epoch 51/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5455 - accuracy: 0.7329 - val_loss: 0.5443 - val_accuracy: 0.7341
Epoch 52/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5455 - accuracy: 0.7330 - val_loss: 0.5436 - val_accuracy: 0.7370
Epoch 53/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5454 - accuracy: 0.7334 - val_loss: 0.5425 - val_accuracy: 0.7357
Epoch 54/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5454 - accuracy: 0.7324 - val_loss: 0.5425 - val_accuracy: 0.7349
Epoch 55/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5451 - accuracy: 0.7335 - val_loss: 0.5440 - val_accuracy: 0.7346
Epoch 56/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5453 - accuracy: 0.7332 - val_loss: 0.5433 - val_accuracy: 0.7372
Epoch 57/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5450 - accuracy: 0.7338 - val_loss: 0.5443 - val_accuracy: 0.7362
Epoch 58/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5451 - accuracy: 0.7330 - val_loss: 0.5436 - val_accuracy: 0.7362
Epoch 59/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5453 - accuracy: 0.7317 - val_loss: 0.5425 - val_accuracy: 0.7341
Epoch 60/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5451 - accuracy: 0.7328 - val_loss: 0.5442 - val_accuracy: 0.7339
Epoch 61/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5451 - accuracy: 0.7337 - val_loss: 0.5424 - val_accuracy: 0.7354
Epoch 62/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5448 - accuracy: 0.7327 - val_loss: 0.5445 - val_accuracy: 0.7349
Epoch 63/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5450 - accuracy: 0.7330 - val_loss: 0.5426 - val_accuracy: 0.7354
Epoch 64/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5451 - accuracy: 0.7332 - val_loss: 0.5430 - val_accuracy: 0.7346
Epoch 65/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5449 - accuracy: 0.7333 - val_loss: 0.5430 - val_accuracy: 0.7349
Epoch 66/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5447 - accuracy: 0.7319 - val_loss: 0.5428 - val_accuracy: 0.7357
Epoch 67/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5447 - accuracy: 0.7321 - val_loss: 0.5419 - val_accuracy: 0.7346
Epoch 68/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5446 - accuracy: 0.7334 - val_loss: 0.5424 - val_accuracy: 0.7352
Epoch 69/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5447 - accuracy: 0.7330 - val_loss: 0.5428 - val_accuracy: 0.7365
Epoch 70/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5447 - accuracy: 0.7325 - val_loss: 0.5417 - val_accuracy: 0.7349
Epoch 71/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5444 - accuracy: 0.7328 - val_loss: 0.5407 - val_accuracy: 0.7359
Epoch 72/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5443 - accuracy: 0.7334 - val_loss: 0.5436 - val_accuracy: 0.7362
Epoch 73/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5444 - accuracy: 0.7332 - val_loss: 0.5431 - val_accuracy: 0.7367
Epoch 74/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5440 - accuracy: 0.7335 - val_loss: 0.5432 - val_accuracy: 0.7362
Epoch 75/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5443 - accuracy: 0.7333 - val_loss: 0.5426 - val_accuracy: 0.7346
Epoch 76/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5442 - accuracy: 0.7319 - val_loss: 0.5438 - val_accuracy: 0.7334
Epoch 77/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5443 - accuracy: 0.7341 - val_loss: 0.5429 - val_accuracy: 0.7357
Epoch 78/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5442 - accuracy: 0.7329 - val_loss: 0.5420 - val_accuracy: 0.7359
Epoch 79/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5440 - accuracy: 0.7337 - val_loss: 0.5413 - val_accuracy: 0.7354
Epoch 80/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5437 - accuracy: 0.7337 - val_loss: 0.5422 - val_accuracy: 0.7341
Epoch 81/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5439 - accuracy: 0.7338 - val_loss: 0.5445 - val_accuracy: 0.7344
Epoch 82/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5439 - accuracy: 0.7336 - val_loss: 0.5419 - val_accuracy: 0.7349
Epoch 83/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5442 - accuracy: 0.7330 - val_loss: 0.5432 - val_accuracy: 0.7380
Epoch 84/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5439 - accuracy: 0.7333 - val_loss: 0.5430 - val_accuracy: 0.7380
Epoch 85/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5444 - accuracy: 0.7331 - val_loss: 0.5411 - val_accuracy: 0.7370
Epoch 86/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5441 - accuracy: 0.7322 - val_loss: 0.5417 - val_accuracy: 0.7344
Epoch 87/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5439 - accuracy: 0.7337 - val_loss: 0.5424 - val_accuracy: 0.7359
Epoch 88/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5440 - accuracy: 0.7327 - val_loss: 0.5416 - val_accuracy: 0.7352
Epoch 89/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5439 - accuracy: 0.7335 - val_loss: 0.5429 - val_accuracy: 0.7346
Epoch 90/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5438 - accuracy: 0.7326 - val_loss: 0.5411 - val_accuracy: 0.7344
Epoch 91/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5439 - accuracy: 0.7329 - val_loss: 0.5430 - val_accuracy: 0.7346
Epoch 92/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5440 - accuracy: 0.7324 - val_loss: 0.5434 - val_accuracy: 0.7372
Epoch 93/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5436 - accuracy: 0.7342 - val_loss: 0.5420 - val_accuracy: 0.7357
Epoch 94/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5438 - accuracy: 0.7334 - val_loss: 0.5419 - val_accuracy: 0.7344
Epoch 95/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5439 - accuracy: 0.7332 - val_loss: 0.5417 - val_accuracy: 0.7365
Epoch 96/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5435 - accuracy: 0.7324 - val_loss: 0.5419 - val_accuracy: 0.7352
Epoch 97/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5437 - accuracy: 0.7329 - val_loss: 0.5425 - val_accuracy: 0.7336
Epoch 98/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5440 - accuracy: 0.7320 - val_loss: 0.5418 - val_accuracy: 0.7349
Epoch 99/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5435 - accuracy: 0.7341 - val_loss: 0.5426 - val_accuracy: 0.7339
Epoch 100/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5435 - accuracy: 0.7345 - val_loss: 0.5418 - val_accuracy: 0.7365

In [20]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5545 - accuracy: 0.7291 - 414ms/epoch - 2ms/step
Loss: 0.5544560551643372, Accuracy: 0.7290962338447571

In [21]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
from google.colab import files

nn.save('/content/AlphabetSoupCharity.h5')
files.download('/content/AlphabetSoupCharity.h5')